@font-face {
    font-family: 'm6x11';
    src: url(../fonts/m6x11.ttf);
}

#displayBox{
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 10px;
    place-self: center;
    background: rgb(51, 70, 75);
    border-radius: 10px;
    height: 75%;
    width: 80%;
    margin: 0 auto;
}
.key{
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-self: center;
    font-size: 16px;
    height: 6%;
    place-content: center;
    /* background-color: white; */
}
.key div{
    display: inline-block;
    background-color: rgb(255, 143, 0);
    align-self: center;
    height: 15px;
    width: 15px;
}
#displayBox span{
    align-self: center;
    color: white;
    font-size: 16px;
    place-content: center;
}
#displayBox img{
    align-self: center;
    height: 134px;
    width: 100px;
}

p {
    color: white;
    font-size: 16px;
}

.singleDisplay{
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: end;
    place-self: end;
    text-align: center;
    background: rgb(45, 62, 66);
    border-radius: 10px;
    height: 90%;
    width: 9%;
    bottom: 15px;
}

.bar{
    width: 65%;
    place-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#page{
    display: flex;
    place-content: center;
    color: white;
}