@font-face {
    font-family: 'm6x11';
    src: url(../fonts/m6x11.ttf);
}

#displayBox{
    position: relative;
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 10px;
    place-self: center;
    background: rgb(51, 70, 75);
    border-radius: 10px;
    height: 75%;
    width: 80%;
    margin: 0 auto;
}
.key{
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-size: 16px;
    height: 7%;
}
.key div{
    display: inline-block;
    background-color: rgb(255, 143, 0);
    align-self: center;
    height: 20px;
    width: 20px;
    margin-bottom: 6px;
}
.filter{
    position: absolute;
    display: flex;
    right: 3%;
    bottom: -8%;
    z-index: 1;
}

.decks, .jokers, .consumables, .tarots, .planets, .spectrals, .vouchers {
    color: rgb(255, 143, 0);
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.445);
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#displayBox span{
    align-self: center;
    color: white;
    font-size: 32px;
}
#displayBox img{
    align-self: center;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.445));
    height: 134px;
    width: 100px;
    color: transparent;
}

p {
    color: white;
    font-size: 16px;
}

.singleDisplay{
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: end;
    place-self: end;
    text-align: center;
    background: rgb(45, 62, 66);
    border-radius: 10px;
    height: 90%;
    width: 9%;
    bottom: 15px;
}
#listBoundary{
    margin: 0 auto;
    width: 60%;
    height: 100%;
    place-content: center;
}
.handDisplay, .careerDisplay{
    position: relative;
    display: flex;
    /* place-content: center; */
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.445);
    background: rgb(163, 172, 185);
    border-radius: 10px;
    width: 25%;
    height: 6.25%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
}
.careerDisplay{
    display: inline-flex;
    width: 50%;
}
.handDisplay p, .careerDisplay p{
    position: absolute;
    left: 0px;
    margin: 0;
    font-size: 32px;
    align-content: center;
    text-align: center;

}
.handDisplay span, .careerDisplay span{
    position: absolute;
    right: 26%;
    height: 100%;
    align-content: center;
}
.hands, .career{
    height: 100%;
    width: 75%;
    text-wrap: nowrap;
}
.count{
    position: relative;
    right: 0px;
    background: rgb(30, 43, 45);
    border-radius: 10px;
    color: rgb(255, 143, 0);
    height: 95%;
    align-self: center;
    justify-self: end;
    text-align: center;
    right: 1px;
    width: 25%;
}


.bar{
    width: 65%;
    place-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#page{
    position: relative;
    top: 1%;
    display: flex;
    gap: 10px;
    place-content: center;
    align-self: center;
    color: white;
}
#page span{
    background-color: rgb(255, 68, 59);
    box-shadow: 5px 7px 3px rgba(0, 0, 0, 0.445);
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.445);
    padding-left: 4px;
    padding-right: 4px;
    font-size: 32px;
    place-content: center;
    text-align: center;
    border-radius: 10px;
    min-width: 144px;
}
#page button{
    background: rgb(255, 68, 59);
    color: white;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.445);
    font-family: 'm6x11';
    font-size: 32px;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 5px 7px 3px rgba(0, 0, 0, 0.445);
}