@font-face {
    font-family: 'm6x11';
    src: url(../fonts/m6x11.ttf);
}
html, body{
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
    overflow: hidden;
}
#root{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 10%;
    row-gap: 3px;
    margin: 0px auto;
    grid-template-areas:
    ". . title title . ."
    ". file file file file ."
    ". display display display display ."
    ". display display display display ."
    ". display display display display ."
    ". display display display display ."
    ". display display display display ."
    ". display display display display ."
    ". display display display display ."
    ". . footer footer . .";


}
body{
    font-family: 'm6x11';
    background: grey;
    height: 100vh;
}

@media screen and (max-Width: 1960px){
    #root{
        grid-template-columns: auto repeat(4, 325px) auto;
    }
}

@media screen and (max-Width: 1310px){
    #root{
        grid-template-columns: auto repeat(4, 1fr) auto;
        width: 100vw;
    }
    
    body nav, body #fileInput div{
        transform: scale(85%);
    }

    body #displayBox{
        min-width: 1090px;
        gap: 0;
    }
    body #displayBox .singleDisplay{
        transform-origin: bottom;
        place-self: end;
        min-width: 120px;
        margin-left: -6px;
        margin-right: -6px;
    }

    body #displayBox > *{
        transform: scale(85%);
    }

    body #page, body .filter{
        transform: scale(85%);
    }
    body .handDisplay{
        margin-top: -3px;
        margin-bottom: -3px;
    }
}

@media screen and (max-Width: 1105px){
    body nav, body #fileInput div{
        text-wrap: nowrap;
        transform: scale(70%);
    }

    body #fileInput div{
        margin-left: -25px;
         margin-right: -25px;
        
    }

    body #listBoundary{
        width: 100%;
    }

    body #displayBox{
        min-width: 900px;
    }

    body #displayBox .singleDisplay{
        margin-left: -16px;
        margin-right: -16px;
    }

    body #displayBox > *{
        transform: scale(70%);
    }

    body #page, body .filter{
        transform: scale(70%);
    }

    body .filter{
        left: 20px;
    }

    body .handDisplay{
        margin-top: -8px;
        margin-bottom: -8px;
    }
}

@media screen and (max-Width: 915px){
    body nav, body #fileInput div{
        transform: scale(55%);
    }
    body #fileInput div{
        margin-left: -55px;
         margin-right: -55px;
        
    }

    body #displayBox{
        min-width: 725px;
    }

    body #displayBox .singleDisplay{
        min-width: 120px;
        margin-left: -24px;
        margin-right: -24px;
    }

    body #displayBox > *{
        transform: scale(55%);
    }

    body #listBoundary{
        position: relative;
        width: 120%;
        right: 10%;
    }

    body #page, body .filter{
        transform: scale(55%);
    }
    body .filter{
        left: 25px;
    }

    body .handDisplay{
        margin-top: -14px;
        margin-bottom: -14px;
    }
}

@media screen and (max-Width: 740px){
    body * {
        display: none;
    }
    body #displayBox > * {
        display: none;
    }
    body #fileInput{
        display: none;
    }
    body h1{
        display: block;
        text-wrap: nowrap;
        width: 100vw;
    }
    body #displayBox {
        min-width: 100%;
    }
    body #warning{
        position: absolute;
        z-index: 1;
        display: inline;
        place-content: center;
        align-self: center;
        text-align: center;
        height: 75%;
        padding: 0;
        margin: 0;
        font-size: 32px;
    }
}

@media screen and (max-height: 1070px){
    body #display{
        min-height: 765px;
    }
    body #footer{
        display: none;
        height: 0px;
    }
    body #fileInput{
        min-height: 97px;
    }
}
@media screen and (max-height: 980px){
    #root{
        grid-template-areas:
            ". file file file file ."
            ". display display display display ."
            ". display display display display ."
            ". display display display display ."
            ". display display display display ."
            ". display display display display ."
            ". display display display display ."
            ". display display display display .";
         grid-auto-rows: 105px;
    }
    body h1{
        display: none;
        height: 0px;
    }
    body #footer{
        display: none;
        height: 0px;
    }
    body #fileInput{
        min-height: 97px;
    }
}