/* need to credit */
@font-face {
    font-family: 'm6x11';
    src: url(../fonts/m6x11.ttf);
}
body{
    font-family: 'm6x11';
    background: grey;
}
#root{
    display: block;
    margin: 0px auto;
}